
.login-form {
    margin-right: auto;
    border-radius: 0px;
    animation: none;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
}

.container {
    overflow: auto;
    width: 100% !important;
    background-size: cover;
    background-image: url('../../images/prdline/bg.jpg');
}

.login-panel {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 657px !important;
    min-height: 342px !important;
    background-image: url('../../images/prdline/1280.png');
    background-repeat: no-repeat;
    background-position: top;
}

.input-group {
    margin: 15px;
}

.input-group-prepend {
    font-size: 12px;
    margin: auto;
    width: 60px;
}

.login-input{

}